/* app css stylesheet */

body{

  font-family: 'Roboto';

}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.ng-invalid.ng-dirty{
  border-color:red;
}
.ng-valid.ng-dirty{
  border-color:green;
}

.messages {
  color: #FA787E;
}

form.ng-submitted input.ng-invalid{
  border-color: #FA787E;
}

form input.ng-invalid.ng-touched {
  border-color: #FA787E;
}

.auth {
  margin-top: .5em;
  padding-top: .5em;
}

.customBtn {
  display: inline-block;

  color: #FFFFFF;
  width: 150px;
  border-radius: 0px;
  white-space: nowrap;
}


.texto-google {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;

  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto';
}

img.normal {
  height: 320px;
  width: 300px;
}
