<!DOCTYPE html>
<html lang="en" ng-app="library">

<head>
    <meta charset="UTF-8">
    <title>Movie library</title>
    <link rel="stylesheet" type="text/css" href="theme/bootstrap.min.css" />
    <link href="theme/theme.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
</head>

<body ng-controller="MoviesController as moviesCtrl">
<!-- navbar -->

<!-- inicializador de fb-->
<div id="fb-root"></div>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Libreria de peliculas </a>
        </div>
        <div class="navbar-collapse collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/crearPelicula">Agregar pelicula</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <div ng-controller="AuthController as auth">
            <form class="navbar-form navbar-rigth navbar-inverse" role="login">
                <div class="form-group" ng-show="!auth.isAuthed()">
                    <input type="text" ng-model="username" class="form-control" placeholder="Usuario">
                    <input type="password" ng-model="password" class="form-control" placeholder="Contraseña">
                </div>
                <button type="submit" ng-click="auth.login(username,password)" ng-show="!auth.isAuthed()" class="btn btn-default">Login</button>
                <button ng-click="auth.logout()" ng-show="auth.isAuthed()" class="btn btn-default">Logout</button>
            </form>
            </div>
        </div>
    </div>
</nav>

<div class="container">

    <div ng-view> </div>

<!-- Titulo -->
<div class="row">
    <div class="col-lg-12">
        <h3>Peliculas</h3>
    </div>
</div>

<div class="row text-center" ng-controller="ShowController as showCtrl">

    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="nav2Collapsed = true" ng-click="nav2Collapsed = !nav2Collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="">Ordenar</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" ng-class="!nav2Collapsed && 'in'">
            <ul class="nav navbar-nav">
                <li ng-class = "{active: showCtrl.linkIsSelected('title')}">
                    <a href ng-click="showCtrl.ordenar('title')">Titulo <span class="glyphicon sort-icon mysize" ng-show="showCtrl.getClave()=='title'" ng-class="{'glyphicon-chevron-up':!showCtrl.getInvertir(),'glyphicon-chevron-down':showCtrl.getInvertir()}"></span></a>
                </li>
                <li ng-class = "{active: showCtrl.linkIsSelected('fecha')}">
                    <a href ng-click="showCtrl.ordenar('fecha')">Fecha <span class="glyphicon sort-icon mysize" ng-show="showCtrl.getClave()=='fecha'" ng-class="{'glyphicon-chevron-up':!showCtrl.getInvertir(),'glyphicon-chevron-down':showCtrl.getInvertir()}"></span></a>
                </li>
                <li ng-class = "{active: showCtrl.linkIsSelected('valoracion')}">
                    <a href ng-click="showCtrl.ordenar('valoracion')">Puntaje <span class="glyphicon sort-icon mysize" ng-show="showCtrl.getClave()=='valoracion'" ng-class="{'glyphicon-chevron-up':!showCtrl.getInvertir(),'glyphicon-chevron-down':showCtrl.getInvertir()}"></span></a>
                </li>

            </ul>

            <!--filtro-->
                <form class="navbar-form right" role="search">

                    <i class="glyphicon glyphicon-search"></i>
                    <div class="form-group">
                        <input type="text" ng-model="filtro" class="form-control" placeholder="filtrar">
                    </div>

                    <select ng-model='filtroSeleccionado' class='form-control'>
                        <option value="" selected>Titulo</option>
                        <option value="directores">Director</option>
                        <option value="actores">Actor</option>
                    </select>

                </form>
            </div>
        <!-- /.navbar-collapse -->
    </nav>

    <!-- Peliculas -->
    <div class="col-md-3 col-sm-6 miniatura"
         dir-paginate="peli in moviesCtrl.peliculas|orderBy:showCtrl.getClave():showCtrl.getInvertir()|dinamicFilter:filtroSeleccionado:filtro|itemsPerPage:4">
        <div class="thumbnail">
            <img src="http://placehold.it/800x500" alt="">
            <div class="caption">
                <h2>{{peli.title}}</h2>
                <h3>{{peli.valoracion}}</h3>
                <p>{{peli.sinopsis | limitTo : 20}}...</p>
                <p>
                    <a class="btn btn-default" ng-click="moviesCtrl.selectFilm(peli._id);showCtrl.scrollTo('pelicula')">More Info</a>
                </p>
            </div>
        </div>
    </div>

</div>
    <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true" >
    </dir-pagination-controls>
<!-- Seleccionada -->
<div id="pelicula">
<div ng-show="moviesCtrl.haySeleccionada()">
    <div class="row" >
        <div class="col-lg-12">
            <h1 class="page-header">{{moviesCtrl.seleccionada.title}}
                <small>{{moviesCtrl.seleccionada.valoracion}} <i class="glyphicon glyphicon-star"></i></small>
            </h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
            <h3>Sinopsis</h3>
            <p>{{moviesCtrl.seleccionada.sinopsis}}</p>
            <h3>Director/es</h3>
            <ul ng-repeat="director in moviesCtrl.seleccionada.directores">
                <li>{{director}}</li>
            </ul>
            <h3>Actores</h3>
            <ul ng-repeat="actor in moviesCtrl.seleccionada.actores">
                <li>{{actor}}</li>
            </ul>
        </div>

    </div>
    <!-- /seleccionada-->

    <!-- Relacionadas -->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>
    </div>
    <!-- /Relacionadas -->
</div>
</div>
<hr>
<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; IAW 2016</p>
        </div>
    </div>
</footer>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
<script src="js/dirPagination.js"></script>
<!--<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>-->
<script src="js/config/env.js"> </script>
<script src="js/peliculas/crear.js" type="text/javascript"></script>
<script src="js/ui-bootstrap-tpls-1.3.3.min.js"></script>
<script src="app.js"></script>

</body>
</html>