<!--div  ng-app="ModuloCrearPelicula"-->
<h4>Agregar una pelicula</h4>
<div  ng-cloack>
    <form name="crearPeliculasForm" ng-controller="CrearPeliculas as crearCtrl"
          ng-submit="crearPeliculasForm.$valid&&crearCtrl.addPelicula()" novalidate>


        <fieldset class="form-group">
            Titulo:
        <input ng-model="crearCtrl.pelicula.title"
                  ng-change="cambio()"
                  class="form-control" placeholder="titulo"
                  title="title" name="title"
                  ng-value="peliculaReferencia.Title"
                  required>
    <span ng-show="!crearPeliculasForm.$pristine &&crearPeliculasForm.title.$error.required">El titulo es requerido</span>
        </input>
   </fieldset>

        <fieldset class="form-group">
            Sinopsis:
            <input ng-model="crearCtrl.pelicula.sinopsis"
                   class="form-control"
                   placeholder="Describi brevemente la pelicula: "
                   ng-value="peliculaReferencia.Plot" name="sinopsis"
                   title="sinopsis">
                </input>

            <!--span ng-show="!crearPeliculasForm.$pristine &&crearPeliculasForm.sinopsis.$error.required">La descripcion de la pelicula es requerida</--span-->
        </fieldset>



        <fieldset class="form-group">
            Directores:
        <input ng-model="crearCtrl.pelicula.directores" class="form-control"
                  name="directores" ng-value="peliculaReferencia.Director" title="Directores"
                  placeholder="Ingrese el/los directores de la pelicula">
        </input>
        </fieldset>

        <fieldset class="form-group">
            Actores: <input ng-model="crearCtrl.pelicula.actores" class="form-control"
                               name="actores" placeholder="Daniel Radcliffe" title="Actores"
                               ng-value="peliculaReferencia.Actors">
                    </input>
        </fieldset>

        <fieldset class="form-group">
            Duracion:
            <input ng-model="crearCtrl.pelicula.duracion" class="form-control" name="duracion"
                   placeholder="120 min" title="Duracion"  ng-value="peliculaReferencia.Runtime">
            </input>
        </fieldset>

        <fieldset class="form-group">
            Año de estreno: <input ng-model="crearCtrl.pelicula.fecha" class="form-control" name="fecha"
                          ng-value="peliculaReferencia.Year"
                          placeholder="1990"   title="fecha" />

        </fieldset>



        <fieldset class="form-group">
            Plabras claves:
        <textarea ng-model="crearCtrl.pelicula.referencias" class="form-control"
                  name="referencias" placeholder="magia ciencia ficcion"
                  title="referencias">
        </textarea>
  </fieldset>

        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Crear pelicula"
                   ng-click="showAlert($event)" ng-disabled="!crearPeliculasForm.$valid" />

        </fieldset>

    </form>
</div>