


<div class="container" ng-controller="CarouselCtrl" id="slides_control">
    <div>
        <uib-carousel interval="myInterval" active="activeSlide">
            <uib-slide ng-repeat="slide in slides" index="$index">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                </div>
            </uib-slide>
        </uib-carousel>
    </div>
</div>

<hr>
<div class="container">
<div class="row text-center" ng-controller="ShowController as showCtrl">

    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="nav2Collapsed = true" ng-click="nav2Collapsed = !nav2Collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="">Ordenar</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" ng-class="!nav2Collapsed && 'in'">
            <ul class="nav navbar-nav">
                <li ng-class = "{active: showCtrl.linkIsSelected('title')}">
                    <a href ng-click="showCtrl.ordenar('title')">Titulo <span class="glyphicon sort-icon mysize" ng-show="showCtrl.getClave()=='title'" ng-class="{'glyphicon-chevron-up':!showCtrl.getInvertir(),'glyphicon-chevron-down':showCtrl.getInvertir()}"></span></a>
                </li>
                <li ng-class = "{active: showCtrl.linkIsSelected('fecha')}">
                    <a href ng-click="showCtrl.ordenar('fecha')">Fecha <span class="glyphicon sort-icon mysize" ng-show="showCtrl.getClave()=='fecha'" ng-class="{'glyphicon-chevron-up':!showCtrl.getInvertir(),'glyphicon-chevron-down':showCtrl.getInvertir()}"></span></a>
                </li>
                <li ng-class = "{active: showCtrl.linkIsSelected('valoracion')}">
                    <a href ng-click="showCtrl.ordenar('valoracion')">Puntaje <span class="glyphicon sort-icon mysize" ng-show="showCtrl.getClave()=='valoracion'" ng-class="{'glyphicon-chevron-up':!showCtrl.getInvertir(),'glyphicon-chevron-down':showCtrl.getInvertir()}"></span></a>
                </li>

            </ul>

            <!--filtro-->
            <form class="navbar-form right" role="search">

                <i class="glyphicon glyphicon-search"></i>
                <div class="form-group">
                    <input type="text" ng-model="filtro" class="form-control" placeholder="filtrar">
                </div>

                <select ng-model='filtroSeleccionado' class='form-control'>
                    <option value="" selected>Titulo</option>
                    <option value="directores">Director</option>
                    <option value="actores">Actor</option>
                </select>

            </form>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <!-- Peliculas -->
    <div class="col-md-3 col-sm-6 miniatura repeated-item"
         dir-paginate="peli in moviesCtrl.peliculas|orderBy:showCtrl.getClave():showCtrl.getInvertir()|dinamicFilter:filtroSeleccionado:filtro|itemsPerPage:4">
        <div class="thumbnail">
            <img ng-src="{{peli.urlFoto}}" class="normal img-responsive"/>
            <div class="caption">
                <h2>{{peli.title}} <a href="#/editarPelicula" ng-click="moviesCtrl.save(peli._id)"> <span ng-show="auth.isAdmin()" class="glyphicon glyphicon-edit mysize"></span></a></h2>
                <h3>{{peli.valoracion || 'S/V'}}</h3>
                <p>{{peli.sinopsis | limitTo : 20}}...</p>
                <p>
                    <a class="btn btn-default" ng-click="moviesCtrl.open(peli._id)">More Info</a>
                </p>
            </div>
        </div>
    </div>

</div>
<dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" >
</dir-pagination-controls>
</div>
<hr>