<div id="auth" class="auth" >
<h4>Logueate como admin</h4>
<div  ng-controller="AuthController as auth">

    <form  role="login">
        <div class="form-group" ng-show="!auth.isAuthed()">
            <input type="text" ng-model="username" class="form-control" placeholder="Usuario">
            <input type="password" ng-model="password" class="form-control" placeholder="Contraseña">
        </div>
        <button type="submit" ng-click="auth.login(username,password)" ng-show="!auth.isAuthed()" class="btn btn-default">Login</button>
        <button ng-click="auth.logout()" ng-show="auth.isAuthed()" class="btn btn-default">Logout</button>
    </form>

    </div>
</div>